<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prokat</title>
    <link rel='stylesheet' type='text/css' href='/static/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/prokat.css'>
</head>
<body>
    <div class="container" >
        <div class="row">
            <div class="col-9">
                <h4><a href="/engine/"><img src="/static/img/arenda.png" width="800" height="240" ></a>
             </div>
             <div class="col-3">
                 <p><h5>Аренда инструмента</h5></p>
                 <h5><p><a href="/engine/"><img src="/static/img/velcom.png" alt="velcom"></a>+375(29) 666-66-66</p>
                    <p><a href="/engine/"><img src="/static/img/mts.jpg" alt="mts"></a>+375(29) 777-77-77</p></h5>
             </div>
        </div>
    </div>
<br>

            {% block content %}
            {% endblock content %}


<br>
</body>
    <footer class="footer">
        <p>&copy; 2018 Роскомнадзор не рекомедует.</p>
    </footer>

</html>
