{% extends 'index.html' %}
{% block content %}

 <div class="container">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-7">
                    <form action="" class="order-form" method="POST">
                        {% csrf_token %}
                        <div class="form-group" align="center">
                             <h5>Заказ оборудования</h5>
                                <select  name="order" class="form-control" id="order" value="{{ form.order }}
                                </select>

                        </div>

                         <div class="form-group">
                              <input type="text"  name="customer" class="form-control" id="name"  placeholder="Ваше имя">
                         </div>
                         <div class="form-group">
                              <input type="text" name="phone" class="form-control" id="phone"  placeholder="Ваш номер телефона">
                         </div>
                            <div align="center">
                              <button type="submit" class="btn btn-primary">Заказать</button>
                              <a href="{% url 'engine:index' %}" class="btn btn-primary">Вернутся</a>
                            </div>
                    </form>
                </div>
            </div>
 </div>

<br>
<div class="container">
            <div class="row">
                <div class="col-5">
                </div>
                <div class="col-7">
                    <a href='https://api.telegram.org/bot26648341:AAG7xBR40pc-dzZthTLct-x0S5fhn_MGNQ/sendMessage?chat_id=23980902&text=Новый заказ'>Телеграм </a>
                </div>
            </div>
</div>

<!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-4">-->
                <!--</div>-->
                <!--<div class="col-8">-->
                    <!--<form action="{{ action }}" method="POST">-->
                    <!--{% csrf_token %}-->
                        <!--<li>-->
                            <!--{{ form.as_ul }}-->
                        <!--</li>-->
                             <!--<input id="save_order" type="submit" value="Заказать"/>-->
                    <!--</form>-->
                <!--</div>-->



{% endblock content %}
